html {
  max-width: 100ch;
  padding: 1em 1em;
  margin: auto;
  line-height: 1.75;
  font-size: 1.25em;
  font-family: sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1em 0 1em;
}

p,
ul,
ol {
  margin-bottom: 2em;
  color: #1d1d1d;
  font-family: sans-serif;
}
/* Navbar */
.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
  justify-content: space-around;
  align-items: center;
}

.navbar {
  background-color: #020617;
  padding: 1rem;
  border-radius: 10px;
}

.navbar li {
  padding: 0.5rem;
}

.navbar a {
  color: #f9f4f4;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffff;
  text-decoration: underline;
}